h1 
{
	color: white;
}
.WRONG
{
	color:#d24637;
	text-decoration: underline;
}
.motherfuckingwebsite
{
	color:#b00000;
}
.Ghp
{
	color: #ca1a70;
	text-decoration: underline;
}
.accessible
{
	color:#ca1a70;
	text-decoration: underline;
}
.ARPANET
{
	color:#ca1a70;
	text-decoration: underline;
}
.IP
{
	color:#ca1a70;
	text-decoration: underline;
}
.hichbtwweighs1521kBwtf
{ 
	font-size:6px;
 }
 .twd
 {
 	font-size:6px;
 }
 .shittyblue
 {
 	color:#00e;
 }
 .nicecolor
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .violetishcolor
 {
 	color:#551a8b;
 }
 .sc
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .gt
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .dm
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .Lt
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .ng
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .ac
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
.ul
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .tc
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .am
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .HTTP
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .piwik
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .CORS
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .Acc
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .Gi
 {
 	color:#ca1a70;
	text-decoration: underline;
 }
 .WT
 {
 	color:#ca1a70;
	text-decoration: underline;
 }

 .fancypositioning
{
    display: block;
    content: "";
    clear: both;
}
.picture-left
{
    float:left;
    width: 40%;
    overflow: hidden;
    margin-right: 1em;
}
.tleft
{
    float:left;
    width: 55%;
}
.bf
{
	color:#ca1a70;
	text-decoration: underline;
}
.fo
{
	color:#ca1a70;
	text-decoration: underline;
}
.ho
{
	color:#ca1a70;
	text-decoration: underline;
}
.pixabay
{
	color:#ca1a70;
	text-decoration: underline;
}
.d
{
	color:#ca1a70;
	text-decoration: underline;
}
.op
{
	color:#ca1a70;
	text-decoration: underline;
}
.al
{
	color:#ca1a70;
	text-decoration: underline;
}
.open
{
	color:#ca1a70;
	text-decoration: underline;
}
.license
{
	color:#ca1a70;
	text-decoration: underline;
}
.logok
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.be
{
	color: #00a2e7;
	text-decoration: underline;
}
.pr
{
	color: #00a2e7;
	text-decoration: underline;
}
.five
{
	color: #00a2e7;
	text-decoration: underline;
}
body
{
	margin: 40px auto;
	max-width: 840px;
	line-height: 1.4;
	font-size: 15px;
	font-family: verdana;
	color: white;
	padding:0;
	text-align: left;
	background: black;
}
p
{
	text-align: justify;
